
.label{
    display: inline-table;
    padding-left: 180px;
    max-width: 10%;
    padding-top: 10px;
}

.blog-button{
    background-color: var(--color-dark-yellow);
    width: 70px;
    height: 30px;
    position: relative;
    top: 300px;
    left: 10px;
}

h1{
    padding-top: 10px;
    align-items: center;
    margin-top: 40px;
    padding-left: 120px;
    margin-bottom: 40px;
}

.p{
    position:fixed;
    top: 60px;
    left: 400px;
    width: 487px;
    height: 54px;
    background: #FFF399FF;
    border-radius: 8px 8px 8px 8px;
    border-width: 1px;
    border-color: #BCC1CAFF;
    border-style:solid;
}

button[type="button"] {
    width: 100px;
    height: 40px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Abel;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #342E00FF;
    background: #FFF07FFF;
    opacity: 1;
    border: none;
    border-radius: 8px;
    margin-left: 70%;
    margin-bottom: 30%;
    margin-right: 10%;
}

button[type="button"]:hover {
    background-color: black;
    color: #FFF399FF;
} 