* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  /* Sección de login */
body {
    background-color: rgb(13, 13, 13);
    font-family: Arial, sans-serif;
}

main {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background: url('../static/assets/img/imagendelogin.jpg') no-repeat center center;
    background-size: cover;
    opacity: 2.5;
}


.login-container {
    width: 95%;
    height: 78%;
    max-width: 400px;
    padding: 20px;
    opacity: 0.7; /* Para hacer transparente el recuadro */
    background-color: #1b1b1b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container h2 {
    text-align: center;
    color: #f9c405;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login-container label {
    margin: 10px 0 5px;
    color: #fff;
}

.login-container input[type="text"], 
.login-container input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-weight: bold;
    width: 100%;
}

.login-container .remember-me {
    display: flex;
    align-items: center;
    color: white;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: bold;
}

.login-container .remember-me input {
    margin-right: 10px;
}

.login-container .forgot-password {
    text-align: right;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    font-family: sans-serif;
    margin-left: auto;
}

.login-container button {
    padding: 10px;
    background-color: #fab507;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    padding: 13px;
    width: 100%;
}

.login-container button:hover {
    border: 1px solid var(--color-white);
    color: var(--color-white);
    background-color: #e7b600;
    transform: scale(0.9);
}

/* Parte responsiva */

  /* Tablets */
@media (min-width: 600px) {
.login-container {
    width: 100%;
    margin: 0 auto;
    }
}

  /* Laptops */
@media (min-width: 768px) {
    .login-container {
    width: 100%;
    margin: 0 auto;
    }
}

  /* Desktops */
@media (min-width: 1024px) {
    .login-container {
    width: 100%;
    margin: 0 auto;
    }
}

/* Estilo base para el menú */
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
}

.menu li {
    position: relative;
    display: inline-block;
    z-index: 1000;
}

.menu li:hover ul {
    display: block;
    z-index: 1000;
}

.menu ul {
    display: none;
    position: absolute;
    top: 120%; /* Ajusta la posición vertical del submenú */
    left: 0;
    z-index: 1000;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu ul li {
    margin-bottom: 0; /* Espacio vertical entre elementos del submenú */
}

.menu ul li a {
    display: block;
    background-color: #342E00FF;
    color: #FFF07FFF;
    text-decoration: none;
    padding: 10px; /* Espaciado interno para los enlaces */
}

/* Estilo para pantallas grandes (computadoras y laptops) */
@media (min-width: 1024px) {

    .menu li {
        display: inline-block;
    }

    .menu ul {
        top: 160%; /* Ajusta la distancia vertical del submenú */
    }
}

/* Estilo para pantallas medianas (tablets y laptops pequeñas) */
@media (max-width: 1024px) and (min-width: 768px) {
    .menu li {
        display: inline-block; /* O puedes cambiar a block si quieres un menú vertical */
    }

    .menu ul {
        top: 120%; /* Ajusta la distancia vertical del submenú */
    }
}

/* Estilo para pantallas pequeñas (celulares) */
@media (max-width: 768px) {
    .menu {
        text-align: center; /* Centra el menú */
    }

    .menu li {
        display: block; /* Cambia a bloque para una visualización vertical en móviles */
    }

    .menu ul {
        position: static; /* Elimina la posición absoluta para móviles */
        top: auto; /* Restablece la posición vertical */
        left: auto; /* Restablece la posición horizontal */
        width: 100%; /* Ocupa el ancho completo */
    }

    .menu ul li {
        margin-bottom: 0; /* Espacio vertical entre elementos del submenú */
    }

    .menu ul li a {
        padding: 15px; /* Aumenta el padding para mejorar la usabilidad en pantallas táctiles */
    }

    .menu li:hover ul {
        display: block; /* Asegúrate de que el submenú se muestre en móviles */
    }
}









/* Los dos contenedores principales responsivos */
@media (max-width: 800px) {
    .container {
        flex-direction: column; /* Cambia a columna en pantallas más pequeñas */
        align-items: center; /* Centra los elementos */
    }
    .principal-container, .pre-visualizacion {
        width: 100%; /* Ajusta el ancho al 100% en pantallas pequeñas */
    }
    .pre-visualizacion {
        margin-top: 20px; /* Añade un margen superior para separar los elementos */
    }
}

@media (max-width: 768px) {
    .pre-visualizacion {
        width: 100%; /* Ajusta el ancho al 100% en pantallas pequeñas */
        max-width: 305px; /* Límite máximo de ancho para mantener el diseño */
        margin: 0 auto; /* Centra horizontalmente en pantallas pequeñas */
    }
}

/* Amarillo Pastel: #FFFFCC
Amarillo Normal: #FFD700
Mostaza: #D4AF37
Amarillo Claro: #FFFF99
Amarillo Dorado: #FFDF00
Amarillo Mostaza: #FFDB58
Amarillo Ocre: #CC7722
Amarillo Ámbar: #FFBF00
Amarillo Dorado Oscuro: #B8860B
Amarillo Maíz: #FBEC5D */

