html{
    overflow-x: hidden;
}

/* Reseteo CSS básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}
header {
    background-color: #000;
    color: #fff;
    padding: 0px;
}


h1 {
    font-size: 40px;
}

main {
    text-align: center;
    margin-top: 20px;
    padding: 30px;
}

.lin {
    border: 3%;
    height: 2px;
    background-color: rgb(34, 33, 33);
    width: 60%;
    margin: 20px auto;
}



.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.button-ventas, .button-usuario, .button-producto {
    margin: 3%;
    border-radius: 5%;
    background-color: #fff;
    border: 2px solid #d3d2d2;
    padding: 20px;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.button-ventas a, .button-usuario a, .button-producto a {
    text-decoration: none;
    color: black;
}

.button-ventas::before, .button-usuario::before, .button-producto::before {
    content: '';
    border-radius: 7%;
    background-color: #ffd700;
    width: 30px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10%;
}

.button-ventas:hover, .button-usuario:hover, .button-producto:hover {
    background-color: #ffd700;
    color: #fff;
    transform: scale(1.07);
}

/* Estilos para el modo oscuro */
body.dark-mode {
    background-color: #121212;
    color: white;
}

/* Estilo para el botón de modo oscuro */
.toggle-dark-mode {
    cursor: pointer;
    font-size: 28px;
    position: absolute;
    top: 100px;
    right: 20px;
    color: #FFEA99; /* Amarillo */
}

.toggle-dark-mode i {
    padding-right: 20px;
    margin-bottom: 0px;
}

/* Estilo para el ícono en modo oscuro */
body.dark-mode .toggle-dark-mode {
    color: #FFEA99;
}

/* Tablets */
@media (min-width: 600px) {
    .button-ventas, .button-usuario, .button-producto {
        width: 300px;
    }
}

/* Laptops */
@media (min-width: 768px) {
    .button-ventas, .button-usuario, .button-producto {
        width: 400px;
    }
}

/* Desktops */
@media (min-width: 1024px) {
    .button-ventas, .button-usuario, .button-producto {
        width: 500px;
    }
}
/* //css seccion */
/* Asegurar que toda la barra de navegación tenga fondo negro */

/* Fondo negro para la barra de navegación */
/* .navbar {
    background-color: #000000;
    width: 1000px;
    height: 20px;
    justify-content: flex-end;
    margin-left: 655px;
    position:relative;
} */
/* Texto amarillo para los enlaces de navegación */
.navbar-nav .nav-item .nav-link {
    color: #FFEA99 !important; /* Texto amarillo */
}

/* Hover: texto amarillo y fondo negro */
.navbar-nav .nav-item .nav-link:hover {
    color: #f9f9f7 !important; /* Texto amarillo en hover */
    background-color: #000 !important; /* Fondo negro en hover */
}

/* Texto amarillo para la marca y otros textos dentro de la navbar */
.navbar-brand, .navbar-toggler-icon, .navbar .h5, .logo-gladiators h5 {
    color: #FFEA99!important; /* Texto amarillo */
}

/* Dropdown Menu */
.dropdown-menu {
    background-color: #0b0b0b !important; /* Fondo negro */
    border: none;
}

/* Texto amarillo en los elementos del dropdown */
.dropdown-item {
    color: #FFEA99 !important; /* Texto amarillo */
}

/* Hover en el dropdown */
.dropdown-item:hover {
    color: #f7f7f6 !important; /* Texto amarillo en hover */
    background-color: #000000 !important; /* Fondo negro en hover */
}

.navbar-toggler {
    border-color: yellow; /* Cambia el color del borde del botón */
}

.navbar-toggler-icon {
    background-image: url('../static/assets/font/menu.svg');
}

.navbar-toggler:focus, .navbar-toggler:hover {
    background-color: #000; /* Fondo negro */
}

.navbar-nav .nav-item .nav-link {
    color: #FFEA99 !important; /* Texto amarillo */
}

/* Hover: texto amarillo y fondo negro */
.navbar-nav .nav-item .nav-link:hover {
    color: #f9f9f7 !important; /* Texto amarillo en hover */
    background-color: #000 !important; /* Fondo negro en hover */
}

/* Texto amarillo para la marca y otros textos dentro de la navbar */
.navbar-brand, .navbar-toggler-icon, .navbar .h5, .logo-gladiators h5 {
    color: #FFEA99!important; /* Texto amarillo */
}

/* Dropdown Menu */
.dropdown-menu {
    background-color: #0b0b0b !important; /* Fondo negro */
    border: none;
}

/* Texto amarillo en los elementos del dropdown */
.dropdown-item {
    color: #FFEA99 !important; /* Texto amarillo */
}

/* Hover en el dropdown */
.dropdown-item:hover {
    color: #f7f7f6 !important; /* Texto amarillo en hover */
    background-color: #000000 !important; /* Fondo negro en hover */
}

.navbar-toggler {
    border-color: yellow; /* Cambia el color del borde del botón */
}

.navbar-toggler-icon {
    background-image: url('../static/assets/font/menu.svg');
}

.navbar-toggler:focus, .navbar-toggler:hover {
    background-color: #000; /* Fondo negro */
}

/* CAMBIO DE FONDO */
/* Estilo para el modo claro */
body {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

/* Estilo para el modo oscuro */
body.dark-mode {
    background-color: #121212; /* Fondo oscuro */
    color: white; /* Texto claro */
}

/* Estilo para el header y otros elementos */
body.dark-mode header {
    background-color: #000; /* Fondo del header */
}

body.dark-mode .incons-container {
    background-color: #1e1e1e; /* Fondo para el contenedor de iconos */
    color: #fff; /* Texto claro */
}

body.dark-mode .incons a,
body.dark-mode .correo-a a {
    color: #f9c405; /* Color de los enlaces */
}

body.dark-mode nav {
    background-color: #000000; /* Fondo de la barra de navegación */
}

body.dark-mode .navbar-nav .nav-item .nav-link {
    color: #FFEA99; /* Texto amarillo */
}

body.dark-mode .button-ventas,
body.dark-mode .button-usuario,
body.dark-mode .button-producto {
    background-color: #151515; /* Fondo oscuro para botones */
    color: white; /* Texto claro */
    border: 2px solid #676767; /* Borde más claro */
}

body.dark-mode .button-ventas a,
body.dark-mode .button-usuario a,
body.dark-mode .button-producto a {
    color: #ffffff !important; /* Texto blanco para los enlaces en botones */
}

body.dark-mode .button-ventas:hover,
body.dark-mode .button-usuario:hover,
body.dark-mode .button-producto:hover {
    background-color: #ffd700; /* Color al pasar el ratón */
    color: #f8f6f6; /* Texto oscuro en hover */
}

/* Estilo para el separador en modo oscuro */
body.dark-mode .lin {
    border-color: #ffffff; /* Color del separador */
}

/* Estilo para el dropdown en modo oscuro */
body.dark-mode .dropdown-menu {
    background-color: #090909 !important; /* Fondo oscuro */
}

body.dark-mode .dropdown-item {
    color: #FFEA99 !important; /* Texto amarillo */
}

body.dark-mode .dropdown-item:hover {
    background-color: #000 !important; /* Fondo negro en hover */
    color: #f7f7f6 !important; /* Texto claro en hover */
}

table {
    background-color: #333; /* Fondo oscuro de la tabla */
    color: #f5f5f5; /* Texto claro */
}

table th, table td {
    background-color: #444; /* Fondo para las celdas */
    color: #f5f5f5; /* Texto claro */
}
input[type="text"] {
    background-color: #333;
    color: #f5f5f5;
    border: 1px solid #f5f5f5; /* Borde claro */
}
button {
    background-color: #ffcc00;
    color: #000;
    border: none;
    padding: 5px 10px;
    font-weight: bold;
}

button:hover {
    background-color: #e6b800;
}
table th {
    background-color: #555; /* Color más oscuro para los encabezados */
    color: #f5f5f5; /* Texto claro */
}


/* Estilo para el modo oscuro */