<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información de Usuario Gladiator's</title>
    <link rel="stylesheet" href="/static/consulta_especifica.css">
    <link rel="stylesheet" href="/static/assets/font/flaticon.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <section class="incons-container">
            <!-- Aqui van  los iconos de las redes sociales, eslogan, correo y horarios -->
            <div class="incons">
                <a href="/"><span class="flaticon-001-facebook"></span></a>
                <a href="/"><span class="flaticon-003-whatsapp"></span></a>
                <a href="/"><span class="flaticon-011-instagram"></span></a>
            </div>
            <div class="inf-p">
                <p>Más que una tienda, un universo de posibilidades...</p>
            </div>
            <div class="correo-a">
                <a href="Gladiators99zxc@gmail.com">Gladiators99zxc@gmail.com</a>
            </div>
            <div class="inf-p">
                <p>Lun-Vie 10:00a.m--8:00p.m
                Sab-Dom 9:00a.m--9:00p.m</p>
            </div>
        </section>
        <nav>
            <!-- Aqui va el logo y nombre de la tienda y el nombre de las secciones -->
            <section class="logo-gladiators">
                <a href="index.html"><img src="../static/assets/img/Logotipo_GladiatorsTransparente.png"alt="imagen-logo"></a>
                <h5>Gladiator's</h5>
            </section>
            <section class="secciones">
                <a href="./pages/index.html">Inicio</a>
                <a href="./pages/index.html">Ventas</a>
                <a href="./pages/index.html">Productos</a>
                <a href="{{ url_for('consultar_usuarios')}}">Usuarios</a>
                <a href="./pages/index.html">Soporte</a>
                <a href="./pages/index.html">Cerrar Sesión</a>
            </section>
        </nav>
    </header>
    <div class="gbox">
        <img src="{{ url_for('static', filename=usuario[3]) }}" alt="Foto del Usuario" style="width: 200PX;">
    </div>
<p class="text">{{ usuario[1] }}</p>
<p class="text" style="background-color: aqua;">{{ usuario[10] }}</p>
<a href="{{ url_for('update1_usuario', id_usuario=usuario['ID']) }}" class="button-1">Editar</a>
<a href="{{ url_for('consultar_usuarios') }}" class="button-2">Regresar</a>
<hr class="line">
<p class="informacion">ID: {{ usuario[4] }}</p>
<p class="informacion2">Nombre: {{ usuario[5] }}</p>
<p class="informacion3">Apellido Paterno: {{ usuario[6] }}</p>
<p class="informacion4">Apellido Materno: {{ usuario[7] }}</p>
<p class="informacion5">Domicilio: {{ usuario[8] }}</p>
<p class="informacion6">Número de teléfono: {{ usuario[9] }}</p>
<p class="informacion7">Nombre de Usuario: {{ usuario[10] }}</p>
<p class="informacion8">CURP: {{ usuario[11] }}</p>
<p class="informacion9">Tipo de Usuario: {{ usuario[12] }}</p>
<p class="informacion10">Fecha de contratación: {{ usuario[13] }}</p>
<p class="informacion11">Contraseña: {{ usuario[14] }}</p>
<p class="informacion12">Correo electrónico: {{ usuario[15] }}</p>
</body>
</html>