<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información de Usuario Gladiator's</title>
    <link rel="stylesheet" href="/static/consulta_especifica.css">
    <link rel="stylesheet" href="/static/assets/font/flaticon.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <section class="incons-container">
            <!-- Aqui van  los iconos de las redes sociales, eslogan, correo y horarios -->
            <div class="incons">
                <a href="/"><span class="flaticon-001-facebook"></span></a>
                <a href="/"><span class="flaticon-003-whatsapp"></span></a>
                <a href="/"><span class="flaticon-011-instagram"></span></a>
            </div>
            <div class="inf-p">
                <p>Más que una tienda, un universo de posibilidades...</p>
            </div>
            <div class="correo-a">
                <a href="Gladiators99zxc@gmail.com">Gladiators99zxc@gmail.com</a>
            </div>
            <div class="inf-p">
                <p>Lun-Vie 10:00a.m--8:00p.m
                Sab-Dom 9:00a.m--9:00p.m</p>
            </div>
        </section>
        <nav>
            <!-- Aqui va el logo y nombre de la tienda y el nombre de las secciones -->
            <section class="logo-gladiators">
                <a href="index.html"><img src="../static/assets/img/Logotipo_GladiatorsTransparente.png"alt="imagen-logo"></a>
                <h5>Gladiator's</h5>
            </section>
            <section class="secciones">
                <a href="{{ url_for('consultar_usuario') }}">Usuarios</a>
                <a href="./pages/index.html">Inicio</a>
                <a href="./pages/index.html">Ventas</a>
                <a href="./pages/index.html">Productos</a>
                <a href="{{ url_for('registrar_usuario')}}">Usuarios</a>
                <a href="./pages/index.html">Soporte</a>
                <a href="./pages/index.html">Cerrar Sesión</a>
            </section>
        </nav>
    </header>
    <h1 class="h">Informacion del Usuario</h1>
    <div class="gbox"></div>
    <p class="text">Perfil</p>
    <p class="button-1">Editar</p>
    <p class="button-2">Regresar</p>
    <hr class="line">
    <p class="informacion">ID:</p>
    <p class="informacion2">Nombre:</p>
    <p class="informacion3">Apellido Paterno:</p>
    <p class="informacion4">Apellido Materno:</p>
    <p class="informacion5">Domicilio:</p> <br>
    <p class="informacion6">Número de teléfono:</p></p><br>
    <p class="informacion7"> Nombre de Usuario:</p><br>
    <p class="informacion8">CURP:</p><br>
    <p class="informacion9">Tipo de Usuario:</p><br>
    <p class="informacion10">Fecha de contratación:</p>
    <p class="informacion11">Contraseña:</p>
    <p class="informacion12">Correo electronico:</p>
</body>
</html>