<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Productos Gladiator's</title>
    <link rel="stylesheet" href="../../Index_General/style.css">
    <link rel="stylesheet" type="text/css"   href="../../styles/font/flaticon.css">
    <link rel="stylesheet" href="../static/style/registrar.CSS">
</head>
<body>
    <div class="container-fluid">
    <h2>Edición de nombre del producto</h2>
    <br>
    <form action="{{ url_for('update_producto_post', id_producto=datos[0]) }}" method="POST" enctype="multipart/form-data">
        <section class="label">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" value="{{ datos[1] }}" required>
            <br><br>
            <label for="codigo_barras">Codigo de barras:</label>
            <input type="int" id="codigo_barras" name="codigo_barras" value="{{ datos[2] }}" required>
            <br><br>
            <label for="precio">precio:</label>
            <input type="float" id="precio" name="precio" value="{{ datos[3] }}" required>
            <br><br>
            <label for="stock">stock:</label>
            <input type="int" id="stock" name="stock" value="{{ datos[4] }}" required>
            <br><br>
        </section>
        <section class="label">
            <label for="descripcion">descripcion:</label>
            <input type="text" id="descripcion" name="descripcion" value="{{ datos[5] }}" required>
            <br><br>
            <label for="marca">marca:</label>
            <input type="text" id="marca" name="marca" value="{{ datos[6] }}" required>
            <br><br>
            <label for="categoria">categoria:</label>
            <select name="categoria" id="categoria">
                <option value="Gorras">Gorras</option>
                <option value="Sudaderas">Sudaderas</option>
                <option value="Cinturones">Cinturones</option>
            </select>
            <br><br>
        </section>
        <section class="label">
            <label for="imagen">Imagen:</label>
            <input type="file" id="imagen" name="imagen">
            <br><br>
            <!-- Mostrar la imagen actual -->
            <img src="{{ url_for('static', filename=datos[8]) }}" alt="Imagen actual" style="max-width: 200px;">
            <br><br>
        </section>
        <button type="submit">Actualizar</button>
    </form>
</div>
</body>
</html>