<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Gladiator's</title>
    <link rel="stylesheet" href="../static/login.css">
    <link rel="stylesheet" href="../static/assets/font/flaticon.css">
    <link rel="stylesheet" href="../static/style.css">
<body>
    <header>
        <section class="incons-container">
            <div class="incons">
                <a href="/"><span class="flaticon-001-facebook"></span></a>
                <a href="/"><span class="flaticon-003-whatsapp"></span></a>
                <a href="/"><span class="flaticon-011-instagram"></span></a>
            </div>
            <div class="inf-p">
                <p>Más que una tienda, un universo de posibilidades...</p>
            </div>
            <div class="correo-a">
                <a href="mailto:Gladiators99zxc@gmail.com">Gladiators99zxc@gmail.com</a>
            </div>
            <div class="inf-p">
                <p>Lun-Vie 10:00a.m--8:00p.m
                Sab-Dom 9:00a.m--9:00p.m</p>
            </div>
        </section>
        <nav>
            <section class="logo-gladiators">
                <a href="index.html"><img src="../static/assets/img/Logotipo_GladiatorsTransparente.png" alt="imagen-logo"></a>
                <h5>Gladiator's</h5>
            </section>
        </nav>
    </header>
    <main class="main">
        <div class="login-container">
            <form action="{{ url_for('login') }}" method="POST">
                <h2>Iniciar Sesión</h2><br>
                <label for="username">Usuario</label>
                <input type="text" name="username" id="username" placeholder="Usuario" required>
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password" placeholder="Contraseña" required>
                <div class="remember-me">
                    <!-- <input type="checkbox" id="remember" name="remember"> -->
                    <!-- <label for="remember">Recuérdame</label> -->
                </div> <br><br>
                <!-- <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a><br> -->
                <button type="submit">Iniciar sesión</button>
            </form>
        </div>
    </main>
</body>
</html>