<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Producto Gladiator's</title>
    <link rel="stylesheet" href="../../Index_General/style.css">
    <link rel="stylesheet" type="text/css"   href="../../styles/font/flaticon.css">
    <link rel="stylesheet" href="../usuarioProducto CSS/registrar.CSS">
</head>
<body>
    <header>
        <section class="incons-container">
            <!-- Aqui van  los iconos de las redes sociales, eslogan, correo y horarios -->
            <div class="incons">
                <a href="/"><span class="flaticon-001-facebook"></span></a>
                <a href="/"><span class="flaticon-003-whatsapp"></span></a>
                <a href="/"><span class="flaticon-011-instagram"></span></a>
            </div>
            <div class="inf-p">
                <p>Más que una tienda, un universo de posibilidades...</p>
            </div>
            <div class="correo-a">
                <a href="Gladiators99zxc@gmail.com">Gladiators99zxc@gmail.com</a>
            </div>
            <div class="inf-p">
                <p>Lun-Vie 10:00a.m--8:00p.m
                Sab-Dom 9:00a.m--9:00p.m</p>
            </div>
        </section>
        <nav>
            <!-- Aqui va el logo y nombre de la tienda y el nombre de las secciones -->
            <section class="logo-gladiators">
                <a href="index.html"><img src="../../assets/img/Logotipo_GladiatorsTransparente.png" alt="imagen-logo"></a>
                <h5>Gladiator's</h5>
            </section>
            <section class="secciones">
                <a href="./pages/index.html">Inicio</a>
                <a href="./pages/index.html">Ventas</a>
                <a href="./pages/index.html">Productos</a>
                <a href="./pages/index.html">Usuarios</a>
                <a href="./pages/index.html">Soporte</a>
                <a href="./pages/index.html">Cerrar Sesión</a>
            </section>
        </nav>
    </header>
    <h1>Registrar producto</h1>
    <main>
        <section class="label">
        <label for="nombre">ID:</label>
        <input type="text" id="id" name="id" autocomplete="id" required>
        <br><br>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" autocomplete="name" required>
        <br><br>
        <label for="nombre">Precio:</label>
        <input type="double" id="precio" name="precio" autocomplete="precio" required>
        <br><br>
        </section>
        <section class="label">
        <label for="nombre">Numero de existencias:</label>
        <input type="int" id="existencias" name="existencias" autocomplete="existencias" required>
        <br><br>
        <label for="nombre">Marca del producto:</label>
        <input type="text" id="marca" name="marca" autocomplete="marca" required>
        <br><br>
        <label for="nombre">Categoría del producto:</label>
        <input type="text" id="categoria" name="categoria" autocomplete="categoria" required>
        <br><br>
        </section>
        <section class="label">
        <label for="nombre">Codidgo de barras:</label>
        <input type="text" id="codigo" name="codigo" autocomplete="codigo" required>
        <br><br>
        <label for="nombre">Descripcion:</label>
        <input type="text" id="descripcion" name="descripcion" autocomplete="descripcion" required>
        <br><br>
        </section>
        <button class="blog-button" type="submit"><b>Registrar</b></button>
    </main>
</header>
</body>
</html>