<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte Semanal Gladiator's</title>
    <link rel="stylesheet" href="../static/assets/font/flaticon.css">
    <link rel="stylesheet" type="text/css"   href="../static/style.css">
    <link rel="stylesheet" href="../static/repVenta.CSS">
</head>
<body>
    <header>
        <section class="incons-container">
            <!-- Aqui van  los iconos de las redes sociales, eslogan, correo y horarios -->
            <div class="incons">
                <a href="/"><span class="flaticon-001-facebook"></span></a>
                <a href="/"><span class="flaticon-003-whatsapp"></span></a>
                <a href="/"><span class="flaticon-011-instagram"></span></a>
            </div>
            <div class="inf-p">
                <p>Más que una tienda, un universo de posibilidades...</p>
            </div>
            <div class="correo-a">
                <a href="Gladiators99zxc@gmail.com">Gladiators99zxc@gmail.com</a>
            </div>
            <div class="inf-p">
                <p>Lun-Vie 10:00a.m--8:00p.m
                Sab-Dom 9:00a.m--9:00p.m</p>
            </div>
        </section>
        <nav>
            <!-- Aqui va el logo y nombre de la tienda y el nombre de las secciones -->
            <section class="logo-gladiators">
                <a href="index.html"><img src="../static/assets/img/Logotipo_GladiatorsTransparente.png" alt="imagen-logo"></a>
                <h5>Gladiator's</h5>
            </section>
            <section class="secciones">
                <a href="./pages/index.html">Inicio</a>
                <a href="./pages/index.html">Ventas</a>
                <a href="./pages/index.html">Productos</a>
                <a href="./pages/index.html">Usuarios</a>
                <a href="./pages/index.html">Soporte</a>
                <a href="./pages/index.html">Cerrar Sesión</a>
            </section>
        </nav>
    </header>
    <main>
        <h1>Reportes de las Ventas Semanal</h1>
        <section class="fecha-mes">
            <!-- Aqui van las fechas XD -->
            <h3>Seleccione el rango de fechas:</h3>
            <form method="GET" action="{{ url_for('reporte_semanal') }}">
                <label for="fecha1">Fecha de Inicio: </label>
                <input type="date" name="fecha1" required>
                <label for="fecha2">Fecha de Fin: </label>
                <input type="date" name="fecha2" required>
                <button type="submit">Buscar</button>
            </form>
        </section>
        <section class="table">
            <!-- Aqui va la tabla de las ventas semanal -->
            <table>
                <thead>
                    <tr class="fila">
                    <th>Id de laVenta</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Total</th>
                    <th>Cajero</th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% if datos %}
                        {% for fila in datos %}
                    <tr>
                        <td>{{ fila[0] }}</td>
                        <td>{{ fila[1] }}</td>
                        <td>{{ fila[2] }}</td>
                        <td>{{ fila[3] }}</td>
                        <td>{{ fila[4] }}</td>
                        <td><a href="{{ url_for('consulta_venta', id=fila[0]) }}">Ver</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                    <tr>
                        <td colspan="6">No se encontraron ventas</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            <div class="boton-total">
            <!-- Aqui va el total y el boton para descargar -->
            <h3>Total: ${{ total }}</h3>
                <a href="ruta/al/archivo.ext" download="nombre_del_archivo.ext" class="descargar-boton">Descargar</a>
            </div>
        </section>
    </main>
</body>
</html>